In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import pycaret
from pycaret.classification import *
from pycaret.datasets import get_data

In [2]:
import pandas as pd
from pycaret.regression import *

train_data = pd.read_csv('PM25.csv')

train_data['DATETIMEDATA'] = pd.to_datetime(train_data['DATETIMEDATA'])

regression_setup = setup(train_data, target='PM25', session_id=123, date_features=['DATETIMEDATA'], normalize=True)
best = compare_models()

rf_model = create_model('rf')

tuned_rf_model = tune_model(rf_model)

bagged_model = ensemble_model(tuned_rf_model, n_estimators=20)

last_prediction_time = train_data['DATETIMEDATA'].max()

start_date = last_prediction_time + pd.DateOffset(hours=1)
end_date = start_date + pd.DateOffset(days=30, hours=23)
next_week_hours = pd.date_range(start=start_date, end=end_date, freq='D')

next_week_data = pd.DataFrame({'DATETIMEDATA': next_week_hours})

next_week_data['O3'] = 0
next_week_data['WS'] = 0
next_week_data['TEMP'] = 0
next_week_data['RH'] = 0
next_week_data['WD'] = 0

model_predictions = predict_model(bagged_model, data=next_week_data)

mpdf = pd.DataFrame(model_predictions, columns=['DATETIMEDATA', 'prediction_label'])

print(mpdf)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

   DATETIMEDATA  prediction_label
0    2024-03-02         23.375613
1    2024-03-03         22.811641
2    2024-03-04         23.019189
3    2024-03-05         23.265905
4    2024-03-06         23.058905
5    2024-03-07         23.374783
6    2024-03-08         23.699368
7    2024-03-09         23.657663
8    2024-03-10         22.885620
9    2024-03-11         22.569073
10   2024-03-12         22.631495
11   2024-03-13         22.536195
12   2024-03-14         22.410218
13   2024-03-15         21.996200
14   2024-03-16         21.623766
15   2024-03-17         21.501187
16   2024-03-18         21.437859
17   2024-03-19         22.256311
18   2024-03-20         24.075011
19   2024-03-21         25.732694
20   2024-03-22         23.822451
21   2024-03-23         21.617258
22   2024-03-24         21.456583
23   2024-03-25         21.347776
24   2024-03-26         21.405223
25   2024-03-27         21.428135
26   2024-03-28         21.773217
27   2024-03-29         21.823734
28   2024-03-30         21.661791
29   2024-03-31         21.627391
30   2024-04-01         22.968822

In [3]:
mpdf.to_csv('predict_PM25.csv', index=False)